	  
	  
	  
	  /*display on click*/
	  
	  #card-container {
        display: none;
      }
            
            
            
            /*mainCard*/
          .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0.4em;
        background-color: #171717;
        border-radius: 20px;
      }
      
      #heading {
        text-align: center;
        margin: 1.2em;
        color: white;
        font-size: 1.2em;
      }
      
      .field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 25px;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        background-color: #171717;
        box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
      }
      
      .input-icon {
        height: 1.3em;
        width: 1.3em;
        fill: rgb(0, 255, 200);
      }
      
      .input-field {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: rgb(0, 255, 200);
      }
      
      .form .btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2.5em;
      }
      
      .button1 {
        padding: 0.5em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 5px;
        margin-right: 0.5em;
        border: none;
        outline: none;
        transition: .4s ease-in-out;
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        color: rgb(0, 0, 0);
      }
      
      .button1:hover {
        background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
        color: rgb(0, 255, 200);
      }
      
      .button2 {
        padding: 0.5em;
        padding-left: 2.3em;
        padding-right: 2.3em;
        border-radius: 5px;
        border: none;
        outline: none;
        transition: .4s ease-in-out;
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        color: rgb(0, 0, 0);
      }
      
      .button2:hover {
        background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
        color: rgb(0, 255, 200);
      }
      
      .button3 {
        margin-bottom: 1.5em;
        padding: 0.5em;
        border-radius: 5px;
        border: none;
        outline: none;
        transition: .4s ease-in-out;
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        color: rgb(0, 0, 0);
      }
      
      .button3:hover {
        background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
        color: rgb(255, 255, 255);
      }
      
      .card1 {
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        border-radius: 22px;
        transition: all .3s;
        width:40%;
        margin:auto;
      }
      
      .card21 {
        border-radius: 0;
        transition: all .2s;
      }
      
      .card21:hover {
        transform: scale(0.98);
        border-radius: 20px;
      }
      
      .card:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
      }
          
      
      
      /*resultCard*/
             
               body {
                  background-color: #f2f2f2;
               }
      
               label {
                  font-size: 20px;
                  font-weight: bold;
               }
      
               input[type="text"] {
                  font-size: 16px;
                  padding: 10px;
                  margin: 10px;
                  border-radius: 5px;
                  border: 1px solid #ccc;
               }
      
               input[type="button"] {
                  font-size: 16px;
                  padding: 10px 20px;
                  margin: 10px;
                  border-radius: 5px;
                  border: none;
                  background-color: #007bff;
                  color: #fff;
                  cursor: pointer;
               }
      
               p {
                  font-size: 18px;
                  margin: 10px;
               }
               
               
               /*card*/
               .cardm {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 73%;									/*height*/
        left: 50%;
      }
      
      .card {
        position: absolute;
        width: 300px;
        height: 130px;
        border-radius: 25px;
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        color: black;
        z-index: 2;
        transition: .4s ease-in-out;
      }
      
      .weather {
        position: relative;
        margin: 1em;
      }
      
      .main {
        font-size: 2em;
        position: relative;
        top: -3.8em;
        left: 4.6em;
      }
      
      .mainsub {
        position: relative;
        top: -8.5em;
        left: 9em;
        font-size: 1em;
        color:white;
      }
      
      .card2 {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 270px;
        height: 130px;
        border-radius: 35px;
        background: #131817ed;
        z-index: -1;
        transition: .4s ease-in-out;
      }
      
      .card:hover {
        background-color: #757575;
        cursor: pointer;
      }
      
      .card:hover + .card2 {
        height: 300px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      
      .card:hover + .card2 .lower {
        top: 20.2em;
      }
      
      .upper {
        display: flex;
        flex-direction: row;
        position: relative;
        color: #f6f9f8;
        left: 1.8em;
        top: 0.5em;
        gap: 4em;
      }
      
      .humiditytext {
        position: relative;
        left: 2.6em;
        top: 2.7em;
        font-size: 0.9em;
      }
      
      .airtext {
        position: relative;
        left: 2.8em;
        top: 2.7em;
        font-size: 0.9em;
      }
      
      
      
      .lower {
        display: flex;
        flex-direction: row;
        position: absolute;
        text-align: center;
        color: #f6f9f8;
        left: 3em;
        top: 1em;
        margin-top: 0.7em;
        font-size: 0.7em;
        transition: .4s ease-in-out;
      }
      
      .aqi {
        margin-right: 4.6em;
      }
      
      .realfeel {
        margin-right: 1.8em;
      }
      
      .card3 {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 35px;
        top: 4.7em;
        left: -2.4em;
        font-size: 1.24em;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        
        transition: .4s ease-in-out;
      }
      
          